.home_graph_line_component{

grid-row: 2/3;

background-color: #FF0000;
border-radius: 10px;

place-items: end;
place-content: end;



.custom-tooltip{

    padding: 15px;
    background-color: white;

.text_custom_tooltip{

    font-weight: bold;


}

}

}
